@model List<WeddingPlanner.Models.Attendee>
@{
    ViewBag.Title = "Attendees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <h2>Attendees</h2>
</p>

<table id="attendees" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
        </tr>
    </thead>

    @foreach (var attendee in Model)
    {
        <tr>
            <td>@Html.ActionLink(attendee.FirstName + " " + attendee.LastName, "Edit", "Attendees", new { id = attendee.Id }, null)</td>
            <td>@attendee.Email</td>
            <td>@attendee.PhoneNumber</td>
            <td>@attendee.Role.Name</td>
        </tr>
    }
</table>